.panel_products {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.panelbutton {
  padding: 1em;
  margin-bottom: 1em;
}
.formproducts {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding: 1em;
  border-radius: 0.3em;
  color: #111;
  position: absolute;
  border-radius: 10px;
}

.formproducts div button {
  padding: 1em;
  border: none;
  border-radius: 0.5em;
}
.panel_products {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.panelbutton {
  padding: 1em;
  margin-bottom: 1em;
}
.form-controlproducts {
  padding: .5em;
  width: 100%;
}
.form-controlproducts button {
  width: 100%;
   border: none;
  margin-bottom: 1em;
}
